.artists {
  width: 100vw;
  margin-bottom: 30px;

  @media (min-width: $widthTablet) {
    margin-bottom: 50px;
  }

  @media (min-width: $widthDesktopSmall) {
    width: auto;
    margin-bottom: 30px;
  }

  @media (min-width: $widthFHD) {
    margin-bottom: 80px;

    .container {
      max-width: 1770px;
    }
  }

  @media (min-width: $width4K) {
    margin-bottom: 87px;

    .container {
      max-width: 3370px;
    }
  }
}

.artists__title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: $fontBold;
  font-size: $fontTextHuge;
  line-height: $lineHeightTitleRegular;

  @media (min-width: $widthTablet) {
    display: none;
    font-size: $fontTitleRegular;
  }

  @media (min-width: $widthDesktopSmall) {
    display: block;
    margin-bottom: 15px;
    line-height: $lineHeightTitleRegular;
  }

  @media (min-width: $widthFHD) {
    font-size: $fontTitleRegular;
    line-height: $lineHeightTitleRegular;
  }

  @media (min-width: $width4K) {
    margin-bottom: 25px;
    font-size: $fontTitleSmall4K;
    line-height: $lineHeightTitleRegular4K;
  }
}

.artists__wrapper {
  display: flex;
  flex-direction: column;
}

.artists__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 290px);
  grid-auto-rows: 198px;
  justify-content: center;
  align-self: center;
  width: 100%;
  margin-bottom: 22px;

  @media (min-width: $widthTablet) {
    grid-template-columns: repeat(auto-fill, 345px);
    grid-auto-rows: 240px;
    margin-bottom: 40px;
  }

  @media (min-width: $widthDesktopSmall) {
    grid-template-columns: repeat(4, 293px);
    grid-auto-rows: 198px;
    justify-content: initial;
    width: auto;
    margin-bottom: 12px;

    @media (max-height: 810px) {
      grid-auto-rows: calc(50vh - 207px);
      grid-auto-rows: Max(calc(50vh - 207px), 122px);
    }
  }

  @media (min-width: $widthFHD) {
    grid-template-columns: repeat(6, 293px);
    grid-auto-rows: 242px;
    margin-bottom: 22px;

    @media (max-height: 810px) and (max-width: $width4K - 1) {
      grid-auto-rows: calc(50vh - 163px);
      grid-auto-rows: Max(calc(50vh - 163px), 145px);
    }
  }

  @media (min-width: $width4K) {
    grid-template-columns: repeat(6, 562px);
    grid-auto-rows: 553px;
    margin-bottom: 50px;
  }
}

.artists__card {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  padding: 14px 18px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(31deg, $ColorSecondary200 16%, transparent 120%);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    outline: none;

    &::before {
      opacity: 1;
    }

    .artists__image {
      img {
        filter: grayscale(1);
      }
    }
  }

  @media (min-width: $width4K) {
    padding: 37px 26px;
  }
}

.artists__name {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-top: auto;
  font-weight: $fontBold;
  font-size: $fontTitleSmall;
  line-height: $lineHeightTitleSmall;
  color: $ColorWhite;

  .item[style] & {
    animation: 0.5s 0.5s both move-right;
  }

  .item[style*="display: inline-block"] &,
  .item[style*="display: none"] & {
    animation: none;
  }

  @media (min-width: $width4K) {
    font-size: $fontTitleHuge;
    line-height: $lineHeightNormal;
  }
}

.artists__image {
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: filter 0.3s;
    filter: none;

    @media (max-width: $widthDesktopSmall - 1) {
      height: 100%;
    }
  }
}

.artists__load-more {
  position: relative;
  align-self: flex-end;
  font-weight: $fontSemiBold;
  font-size: $fontTextRegular;
  line-height: $lineHeightRegular;
  color: $ColorSecondary;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $ColorSecondary;
    transition: width 0.3s;
  }

  &:hover,
  &:focus {
    outline: none;

    &::before {
      width: 100%;
    }
  }

  @media (min-width: $widthTablet) {
    font-size: $fontTextLarge;
  }

  @media (min-width: $widthDesktopSmall) {
    font-size: $fontTextRegular;
  }

  @media (min-width: $widthFHD) {
    font-size: $fontTextMedium;
    line-height: $lineHeightMedium;
  }

  @media (min-width: $width4K) {
    font-size: $fontTitleHuge;
    line-height: $lineHeightTitleLarge;
  }
}
