.contacts {
  .page--index & {
    background:
      linear-gradient(80deg, rgba($ColorBlack, 0.9) -11%, rgba($fontColorHeaders, 0.64) 120%),
      url("../img/contacts_bg-mobile@1x.jpg") center / cover no-repeat;

    @media (min-resolution: 144dpi) {
      background-image:
        linear-gradient(80deg, rgba($ColorBlack, 0.9) -11%, rgba($fontColorHeaders, 0.64) 120%),
        url("../img/contacts_bg-mobile@2x.jpg");
    }
  }

  @media (min-width: $widthMobile) {
    .page--inner & {
      padding-top: 28px;
      padding-bottom: 48px;
      background-image: url("../img/contacts_bg-inner@1x.png");
      background-position: top -350px right -360px;
      background-size: 750px;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: $widthTablet) {
    .page--index & {
      background-image:
        linear-gradient(80deg, rgba($ColorBlack, 0.9) -11%, rgba($fontColorHeaders, 0.64) 120%),
        url("../img/contacts_bg-tablet@1x.jpg");
      background-position:
        0 0,
        top left;

      @media (min-resolution: 144dpi) {
        background-image:
          linear-gradient(80deg, rgba($ColorBlack, 0.9) -11%, rgba($fontColorHeaders, 0.64) 120%),
          url("../img/contacts_bg-tablet@2x.jpg");
      }
    }

    .page--inner & {
      padding-top: 56px;
      padding-bottom: 66px;
      background-image: url("../img/contacts_bg-inner@1x.png");
      background-position: top -250px right -370px;
      background-size: 800px;
      background-repeat: no-repeat;

      @media (min-resolution: 144dpi) {
        background-image: url("../img/contacts_bg-inner@2x.png");
      }
    }
  }

  @media (min-width: $widthDesktopSmall) {
    .page--index & {
      display: flex;
      align-items: center;
      background-image:
        linear-gradient(80deg, rgba($ColorBlack, 0.85) -11%, rgba($fontColorHeaders, 0.6) 120%),
        url("../img/contacts_bg@1x.jpg");

      @media (min-resolution: 144dpi) {
        background-image:
          linear-gradient(80deg, rgba($ColorBlack, 0.85) -11%, rgba($fontColorHeaders, 0.6) 120%),
          url("../img/contacts_bg@2x.jpg");
      }
    }

    .page--inner & {
      padding-top: 50px;
      padding-bottom: 80px;
      background: url("../img/contacts_bg-inner@1x.png") top -970px right -960px no-repeat;

      &--dark {
        background-color: $fontColorHeaders;
      }

      @media (min-resolution: 144dpi) {
        background-image: url("../img/contacts_bg-inner@2x.png");
        background-size: 2047px;
      }
    }
  }

  @media (min-width: $widthFHD) {
    .page--inner & {
      padding-top: 80px;
      padding-bottom: 65px;
      background-image: url("../img/contacts_bg-inner-2k@2x.png");
      background-position: top -1220px right -1215px;
      background-size: 2545px;

      @media (min-resolution: 144dpi) {
        background-image: url("../img/contacts_bg-inner-2k@2x.png");
      }
    }
  }

  @media (min-width: $width4K) {
    .page--inner & {
      padding-top: 140px;
      padding-bottom: 220px;
      background-image: url("../img/contacts_bg-inner-4k@2x.png");
      background-position: top -1300px right -1850px;
      background-size: 3835px;

      @media (min-resolution: 144dpi) {
        background-image: url("../img/contacts_bg-inner-4k@2x.png");
      }
    }
  }
}

.contacts__wrapper {
  .page--index & {
    padding-top: 40px;
    padding-bottom: 47px;
  }

  @media (min-width: $widthTablet) {
    .page--index & {
      padding-top: 50px;
      padding-bottom: 43px;
    }

    @media (max-width: $widthDesktopSmall - 1) {
      position: relative;
    }
  }

  @media (min-width: $widthDesktopSmall) {
    .page--index & {
      padding: 0;
    }
  }
}

.contacts__title {
  position: relative;
  margin: 0;
  margin-bottom: 35px;
  font-weight: $fontBold;
  font-size: $fontTextHuge;
  line-height: $lineHeightTitleRegular;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 87px;
    height: 2px;
    background-color: $ColorSecondary;
  }

  .page--index &,
  .contacts--dark & {
    color: $ColorWhite;
  }

  .page--inner & {
    margin-bottom: 100px;
  }

  @media (min-width: $widthMobile) {
    .page--inner & {
      margin-bottom: 45px;
      font-size: 20px;

      &::before {
        width: 87px;
        height: 2px;
        left: 0;
        top: -2px;
      }
    }
  }

  @media (min-width: $widthTablet) {
    margin-bottom: 46px;
    padding-top: 16px;
    font-size: $fontTitleRegular;

    &::before {
      width: 124px;
      height: 4px;
    }

    .page--inner & {
      margin-bottom: 66px;
      font-weight: $fontBold;
      font-size: $fontTitleRegular;
      line-height: 35px;

      &::before {
        top: -14px;
        width: 124px;
        height: 4px;
      }
    }
  }

  @media (min-width: $widthDesktopSmall) {
    margin-bottom: 31px;
    line-height: $lineHeightTitleRegular;

    .page--inner & {
      margin-bottom: 100px;
    }
  }

  @media (min-width: $widthFHD) {
    .page--inner & {
      margin-bottom: 90px;
    }
  }

  @media (min-width: $width4K) {
    margin-bottom: 100px;
    padding-top: 25px;
    font-size: $fontTitleSmall4K;
    line-height: $lineHeightTitleRegular4K;

    &::before {
      width: 360px;
      height: 9px;
    }

    .page--inner & {
      margin-bottom: 260px;

      @media (min-width: $width4K) {
        margin-bottom: 100px;
        padding-top: 25px;
        font-size: $fontTitleSmall4K;
        line-height: $lineHeightTitleRegular4K;

        &::before {
          width: 360px;
          height: 9px;
        }
      }
    }
  }
}

.contacts__info {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(60px, auto);
  font-style: normal;

  .page--index & {
    gap: 15px;
    margin-bottom: 35px;
  }

  @media (min-width: $widthTablet) {
    .page--index & {
      gap: 29px;
      width: 90%;
      margin-bottom: 0;
    }
  }

  @media (min-width: $widthDesktopSmall) {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 110px;

    .page--index & {
      gap: initial;
      width: 820px;
      margin-bottom: 28px;
    }

    .page--inner & {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 130px) 90px;
      gap: 20px;
      width: 900px;
    }
  }

  @media (min-width: $widthFHD) {
    width: 1000px;

    .page--inner & {
      grid-template-rows: repeat(2, 150px) 90px;
      column-gap: 50px;
      width: 1350px;
    }
  }

  @media (min-width: $width4K) {
    grid-auto-rows: 280px;
    width: 2700px;

    .page--index & {
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 100px;
      gap: 50px;
      grid-auto-rows: 280px;
      width: 2700px;
    }

    .page--inner & {
      grid-template-rows: repeat(3, 350px);
      column-gap: 84px;
      row-gap: 100px;
      width: 2620px;
    }
  }
}

.contacts__block {
  &--center {
    align-self: center;
  }

  &--4k {
    display: none;
  }

  .page--inner & {
    margin-bottom: auto;
  }

  @media (min-width: $widthMobile) {
    .page--inner & {
      margin-bottom: 30px;
    }
  }

  @media (min-width: $widthTablet) {
    .page--inner & {
      margin-bottom: 50px;
    }
  }

  @media (min-width: $widthDesktopSmall) {
    .page--inner & {
      margin-bottom: 0;
    }

    &:last-child {
      grid-column-end: -1;
    }
  }

  @media (min-width: $widthFHD) {
    .page--inner & {
      margin-bottom: auto;

      // &:last-child {
      //   justify-self: end;
      // }
    }
  }

  @media (min-width: $width4K) {
    &--4k {
      display: block;
    }

    .page--index & {
      &:last-child {
        grid-column-end: initial;
      }

      &--center,
      &--social {
        align-self: flex-end;
      }
    }

    .page--inner & {
      &:last-child {
        justify-self: auto;
      }
    }
  }
}

.contacts__label {
  display: block;
  margin-bottom: 10px;
  font-weight: $fontBold;
  font-size: $fontTextLarge;
  line-height: $lineHeightMedium;
  color: $ColorSecondary;

  @media (min-width: $widthMobile) {
    .page--inner & {
      font-size: 16px;
      line-height: 19px;
    }
  }

  @media (min-width: $widthTablet) {
    font-size: $fontTitleTiny;
    line-height: $lineHeightTitleTiny;

    .page--inner & {
      font-size: 26px;
      line-height: 32px;
    }
  }

  @media (min-width: $widthFHD) {
    font-size: $fontTitleRegular;
    line-height: $lineHeightTitleRegular;

    .page--inner & {
      font-size: 28px;
      line-height: 35px;
    }
  }

  @media (min-width: $width4K) {
    font-size: $fontTitleRegular4K;
    line-height: $lineHeightTitleMedium4K;

    .page--inner & {
      font-size: 64px;
      line-height: 79px;
    }
  }
}

.contacts__text {
  margin: 0;
  font-weight: $fontMedium;
  font-size: $fontTextLarge;
  line-height: $lineHeightXLarge;

  .page--index &,
  .contacts--dark & {
    color: $ColorWhite;
  }

  a {
    color: inherit;
    transition: color 0.3s;

    &:hover,
    &:focus {
      color: $ColorSecondary;
      outline: none;
    }
  }

  @media (min-width: $widthMobile) {
    .page--inner & {
      font-size: 18px;
      line-height: 21px;
    }
  }

  @media (min-width: $widthTablet) {
    font-size: $fontTextHuge;
    line-height: $lineHeightXLarge;

    .page--inner & {
      font-size: 28px;
      line-height: 40px;
    }
  }

  @media (min-width: $widthDesktopSmall) {
    font-size: $fontTextLarge;
  }

  @media (min-width: $widthFHD) {
    font-size: $fontTitleTiny;
    line-height: $lineHeightTitleRegular;

    .page--inner & {
      font-size: 24px;
      line-height: 29px;
    }
  }

  @media (min-width: $width4K) {
    font-size: $fontTextHuge4K;
    line-height: $lineHeightLarge4K;

    .page--inner & {
      font-size: 52px;
      line-height: 63px;
    }
  }
}

.contacts__socials {
  display: flex;
  justify-content: space-between;
  width: 190px;

  .page--index & {
    margin-top: 20px;
  }

  @media (min-width: $widthTablet) {
    width: 250px;

    .page--inner & {
      width: 390px;
    }
  }

  @media (min-width: $widthDesktopSmall) {
    width: 265px;

    .page--index & {
      margin-top: 19px;
    }
  }

  @media (min-width: $width4K) {
    width: 80%;

    .page--index & {
      margin-top: 35px;
    }

    .page--inner & {
      width: 817px;
      margin-right: -65px;
    }
  }
}

.contacts__socials-link {
  width: 25px;
  height: 25px;
  background: center / contain no-repeat;
  filter: grayscale(1) brightness(2.2);
  transition: filter 0.3s;

  @each $icon in fb, ig, vk, yt {
    &--#{$icon} {
      background-image: url("../img/icon-social-#{$icon}.svg");
    }
  }

  &:hover,
  &:focus {
    outline: none;
    filter: none;
  }

  .page--inner & {
    width: 25px;
    height: 25px;
  }

  @media (min-width: $widthTablet) {
    .page--inner & {
      width: 40px;
      height: 40px;
    }
  }

  @media (min-width: $widthDesktopSmall) {
    .page--inner & {
      width: 25px;
      height: 25px;
    }
  }

  @media (min-width: $widthFHD) {
    .page--inner & {
      width: 25px;
      height: 25px;
    }
  }

  @media (min-width: $width4K) {
    width: 65px;
    height: 65px;

    .page--inner & {
      width: 85px;
      height: 85px;
    }
  }
}

.contacts__block-link-ask {
  position: relative;
  display: inline-block;
  font-weight: $fontSemiBold;
  font-size: $fontTitleTiny;
  line-height: $lineHeightXLarge;
  color: $ColorSecondary;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $ColorSecondary;
    transition: width 0.3s;
  }

  &:hover,
  &:focus {
    outline: none;

    &::before {
      width: 100%;
    }
  }

  @media (min-width: $widthTablet) {
    .page--inner & {
      font-size: 24px;
      line-height: 29px;
    }
  }

  @media (min-width: $width4K) {
    .page--inner & {
      font-size: $fontTitleMedium4K;
      line-height: $lineHeightTitleLarge4K;
    }
  }

  @media (min-width: $widthTablet) {
    font-size: $fontTitleSmall;
    line-height: $lineHeightTitleSmall;
  }

  @media (min-width: $widthDesktopSmall) {
    font-size: $fontTitleSmall;
    line-height: $lineHeightTitleSmall;
    text-align: center;

    .page--inner & {
      margin-left: -20px;
    }
  }

  @media (min-width: $widthFHD) {
    .page--inner & {
      margin-left: 0;
    }
  }

  @media (min-width: $width4K) {
    font-size: $fontTitleMedium4K;
    line-height: $lineHeightTitleLarge4K;

    &::before {
      height: 3px;
    }
  }
}

.contacts__button {
  @media (min-width: $widthTablet) {
    @media (max-width: $widthDesktopSmall - 1) {
      position: absolute;
      right: 60px;
      bottom: 43px;
    }
  }
}
