.feedback {
  box-sizing: border-box;
  // height: 100%;
  padding: 40px 20px;

  .button {
    min-width: 200px;
    max-width: 200px;
  }

  @media (min-width: $widthTablet) {
    padding: 40px;
    padding-right: 46px;
  }

  @media (min-width: $widthDesktopSmall) {
    padding: 50px 33px 43px;
  }

  @media (min-width: $widthDesktopSmall) {
    .button {
      min-width: 320px;
      max-width: 573px;
    }
  }
}

.feedback__title {
  position: relative;
  margin: 0;
  margin-bottom: 12px;
  font-weight: $fontSemiBold;
  font-size: $fontTextHuge;
  line-height: $lineHeightTitleRegular;
  color: $ColorSecondary;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 87px;
    height: 2px;
    background-color: $ColorPrimary300;
  }

  @media (min-width: $widthTablet) {
    margin-bottom: 40px;
    padding-top: 16px;
    font-size: $fontTitleRegular;

    &::before {
      width: 124px;
      height: 4px;
    }
  }

  @media (min-width: $widthDesktopSmall) {
    margin-bottom: 40px;
    line-height: $lineHeightTitleRegular;
  }

  @media (min-width: $width4K) {
    padding-top: 25px;
    font-size: $fontTitleSmall4K;
    line-height: $lineHeightTitleRegular4K;

    &::before {
      width: 360px;
      height: 9px;
    }
  }
}

.feedback__form {
  display: flex;
  flex-direction: column;

  @media (min-width: $widthDesktopSmall) {
    width: 637px;
  }

  @media (min-width: $widthFHD) {
    width: 70%;
  }
}

.feedback__form-fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;

  @media (min-width: $widthTablet) {
    margin-bottom: 20px;
  }

  @media (min-width: $widthDesktopSmall) {
    margin-bottom: 10px;
  }

  @media (min-width: $widthFHD) {
    margin-bottom: 25px;
  }
}

.feedback__form-field {
  position: relative;
  min-height: 54px;
  font-weight: $fontMedium;
  font-size: $fontTextRegular;
  line-height: $lineHeightSmall;
  color: $ColorPrimary300;

  input,
  textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 17px 20px;
    font: inherit;
    color: inherit;
    background: none;
    border: 1px solid $fontColorLightGrey;
    border-radius: 10px;
    transition: border-color 0.3s;

    &.filled,
    &:hover,
    &:focus {
      border-color: $ColorSecondary;

      + span {
        color: $ColorSecondary;
      }
    }

    &.filled,
    &:focus {
      outline: none;

      + span {
        transform: translateY(-15px) scale(0.8);
      }
    }
  }

  textarea {
    height: 185px;
  }

  span {
    position: absolute;
    top: 17px;
    left: 20px;
    transform-origin: left;
    transition:
      color 0.3s,
      transform 0.3s;
    pointer-events: none;
    user-select: none;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @media (min-width: $widthTablet) {
    input,
    textarea {
      padding-right: 35px;
      padding-left: 35px;
    }

    textarea {
      height: 107px;
    }

    span {
      left: 35px;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  @media (min-width: $width4K) {
    min-height: 75px;
    font-size: $fontTextRegular4K;
    line-height: $lineHeightMedium4K;

    input,
    textarea {
      padding: 44px 40px;

      &.filled,
      &:focus {
        + span {
          transform: translateY(-40px) scale(0.8);
        }
      }
    }

    textarea {
      height: 200px;
    }

    span {
      width: calc(100% - 40px);
      top: 44px;
      left: 40px;
    }

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

.feedback__form-privacy {
  position: relative;
  display: inline-block;
  margin-bottom: 27px;
  padding-left: 32px;
  font-weight: $fontMedium;
  font-size: $fontTextTiny;
  line-height: $lineHeightSmall;
  color: $ColorPrimary300;
  transition: color 0.3s;
  cursor: pointer;

  input {
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 5;
    width: 18px;
    height: 18px;
    opacity: 0;
    cursor: pointer;

    &:checked + span {
      &::after {
        transform: none;
      }
    }
  }

  span {
    &::before {
      content: "";
      position: absolute;
      top: -1px;
      left: 0;
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      border: 1px solid $ColorSecondary;
      border-radius: 5px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 5px;
      width: 9px;
      height: 9px;
      background: url("../img/icon-check.svg") center / contain no-repeat;
      transform: scale(0);
      transition: transform 0.3s;
    }
  }

  &:hover,
  &:focus-within {
    color: $ColorPrimary100;
  }

  @media (min-width: $widthTablet) {
    margin-bottom: 35px;
    font-size: $fontTextRegular;
  }

  @media (min-width: $widthDesktopSmall) {
    margin-bottom: 45px;
  }

  @media (min-width: $width4K) {
    margin-bottom: 85px;
    padding-left: 60px;
    font-size: $fontTextSmall4K;
    line-height: $lineHeightSmall4K;

    input {
      width: 40px;
      height: 40px;
    }

    span {
      &::before {
        top: 0;
        width: 40px;
        height: 40px;
      }

      &::after {
        top: 12px;
        left: 12px;
        width: 20px;
        height: 20px;
      }
    }
  }
}
