.footer {
  background-color: $ColorPrimary200;
  padding: 36px 0;

  @media (min-width: $widthFHD) {
    padding: 26px 0 45px;
  }

  @media (min-width: $width4K) {
    padding: 60px 0;
  }
}

.footer__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 33px;
  border-bottom: 1px solid $ColorPrimary300;
}

.footer__logo {
  display: flex;

  img {
    display: block;
    width: 65px;
  }

  span {
    display: inline-block;
    width: 100px;
    margin: auto 33px;
    font-weight: $fontSemiBold;
    font-size: $fontTextRegular;
    color: $fontColorWhite;
  }

  @media (min-width: $widthFHD) {
    img {
      width: 86px;
    }

    span {
      font-size: $fontTextLarge;
      line-height: $lineHeightRegular2K;
    }
  }

  @media (min-width: $width4K) {
    img {
      width: 158px;
    }

    span {
      margin-left: 64px;
      font-size: $fontTextSmall4K;
      line-height: $lineHeightRegular4K;
    }
  }
}

.footer__menu {
  margin: auto 0;
}

.footer__menu-list {
  @extend %list-reset;
  display: flex;
  flex-wrap: wrap;
}

.footer__menu-item {
  margin: 0 30px 5px;

  &:last-child {
    margin-right: 0;
  }

  .page--inner & {
    @media (min-width: $widthFHD) {
      margin-right: 50px;
      margin-left: 50px;
    }

    @media (min-width: $width4K) {
      margin-right: 110px;
      margin-left: 110px;
    }
  }
}

.footer__menu-link {
  font-weight: $fontRegular;
  font-size: $fontTextRegular;
  line-height: $lineHeightSmall;
  color: $fontColorGrey;
  transition: color 0.3s;

  &--active,
  &:hover,
  &:focus {
    color: $ColorSecondary;
    outline: none;
  }

  @media (min-width: $widthFHD) {
    font-size: $fontTextHuge;
    line-height: $lineHeightNormal;
  }

  @media (min-width: $width4K) {
    font-size: $fontTitleMedium;
    line-height: $lineHeightSmall4K;
  }
}

.footer__middle {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 7px;

  @media (min-width: $widthFHD) {
    padding-top: 36px;
    padding-bottom: 0;
  }

  @media (min-width: $width4K) {
    padding-top: 70px;
  }
}

.footer__social {
  display: flex;
  justify-content: space-between;
  width: 170px;

  @media (min-width: $widthFHD) {
    width: 220px;
  }

  @media (min-width: $width4K) {
    width: 375px;
  }
}

.footer__soial-link {
  width: 25px;
  height: 25px;
  background: center / contain no-repeat;
  transition: filter 0.3s;

  @each $icon in fb, ig, vk, yt {
    &--#{$icon} {
      background-image: url("../img/icon-social-#{$icon}.svg");
    }
  }

  &:hover,
  &:focus {
    outline: none;
    filter: grayscale(1) brightness(0.8);
  }

  @media (min-width: $widthFHD) {
    width: 35px;
    height: 35px;
  }

  @media (min-width: $width4K) {
    width: 53px;
    height: 53px;
  }
}

.footer__link-ask {
  position: relative;
  font-size: $fontTextRegular;
  line-height: $lineHeightSmall;
  color: $fontColorPink;

  &::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 128px;
    height: 1px;
    background-color: $ColorSecondary;
    transform: translateX(calc(-100% - 25px));
    pointer-events: none;
  }

  @media (min-width: $widthFHD) {
    font-weight: $fontBold;
    font-size: $fontTextLarge;
    line-height: $lineHeightSmall2K;

    &::before {
      bottom: 18px;
      width: 170px;
      height: 3px;
    }
  }

  @media (min-width: $width4K) {
    font-size: $fontTextSmall4K;
    line-height: $lineHeightNormal;

    &::before {
      bottom: 22px;
      width: 360px;
      transform: translateX(calc(-100% - 60px));
    }
  }
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;

  @media (min-width: $widthFHD) {
    padding-top: 36px;
  }

  @media (min-width: $width4K) {
    padding-top: 70px;
  }
}

.footer__bottom-link,
.footer__bottom-copyright {
  margin: 0;
  font-weight: $fontRegular;
  font-size: $fontTextRegular;
  line-height: $lineHeightSmall;
  color: $fontColorWhite;

  @media (min-width: $widthFHD) {
    font-size: $fontTextLarge;
    line-height: $lineHeightMedium;
  }

  @media (min-width: $width4K) {
    font-size: $fontTextRegular4K;
    line-height: $lineHeightMedium4K;
  }
}
