.footer {
  background-color: $ColorPrimary200;
  padding: 36px 0;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 33px;
  border-bottom: 1px solid $ColorPrimary300;
}

.footer__logo span {
  display: inline-block;
  font-weight: $fontSemiBold;
  font-size: $fontTextNav_Footer;
  color: $fontColorWhite;
  width: 100px;
  margin: auto 33px;
}

.footer__logo {
  display: flex;
  min-height: 60px;
}

.footer__menu {
  margin: auto 0;
}

.footer__menu-list {
  @extend %list-reset;
  display: flex;
  flex-wrap: wrap;
}

.footer__menu-item {
  margin: 0 30px 5px 30px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__menu-link {
  font-weight: $fontRegular;
  font-size: $fontTextNav_Footer;
  line-height: $lineHeightNav_Footer;
  color: $fontColorGrey;
  transition: color 0.3s;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $ColorSecondary;
    transition:
      color 0.3s,
      width 0.3s;
  }

  &--active {
    &::before {
      width: 24px;
    }
  }

  &--active,
  &:hover,
  &:focus {
    color: $ColorSecondary;
    outline: none;
  }

  @media (min-width: $width4K) {
    font-size: $fontTextNav_Footer * 1.5;
    line-height: 1.2;
  }
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}

.footer__bottom-link,
.footer__bottom-copyright {
  color: $fontColorWhite;
  font-size: $fontTextNav_Footer;
  line-height: $lineHeightNav_Footer;
  font-weight: $fontRegular;
  margin: 0;

  @media (min-width: $width4K) {
    font-size: $fontTextNav_Footer * 1.5;
    line-height: 1.2;
  }
}
