.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition:
    background-color 0.3s,
    transform 0.3s;
  pointer-events: none;

  &--hidden {
    transform: translateY(-100%);
  }

  &--dark {
    background-color: $ColorPrimary200;
  }

  .page--inner & {
    position: relative;
    background-color: $ColorWhite;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 14px;
  padding-bottom: 30px;

  .page--inner & {
    padding-bottom: 14px;
  }

  .header--small & {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (min-width: $widthFHD) {
    padding-top: 28px;
    padding-bottom: 28px;

    .page--inner &,
    .header--small & {
      padding-top: 28px;
      padding-bottom: 28px;
    }
  }

  @media (min-width: $width4K) {
    padding-top: 61px;
    padding-bottom: 61px;

    .page--inner &,
    .header--small & {
      padding-top: 61px;
      padding-bottom: 61px;
    }
  }
}

.header__logo {
  margin-right: auto;
  pointer-events: auto;

  img {
    display: block;
    width: 116px;
    transition: width 0.3s;

    .page--inner & {
      width: 85%;
    }

    .header--small & {
      width: 61px;
    }
  }

  @media (min-width: $widthFHD) {
    img {
      width: 94px;

      .header--small & {
        width: 94px;
      }
    }
  }

  @media (min-width: $width4K) {
    img {
      width: 116px;

      .page--inner & {
        width: 116px;
      }
    }
  }
}

.header__menu {
  margin-top: 40px;
  margin-right: 60px;
  margin-left: 20px;
  transition: margin-top 0.3s;
  pointer-events: auto;

  .page--inner & {
    margin-top: 31px;
  }

  .header--small & {
    margin-top: 19px;
  }

  @media (min-width: $widthFHD) {
    margin-top: 34px;

    .page--inner &,
    .header--small & {
      margin-top: 34px;
    }
  }
}

.header__menu-list {
  @extend %list-reset;
  display: flex;
  flex-wrap: wrap;
}

.header__menu-item {
  margin-right: 29px;
  margin-bottom: 5px;
  margin-left: 30px;
}

.header__menu-link {
  position: relative;
  font-weight: $fontSemiBold;
  font-size: $fontTextSmall;
  line-height: $lineHeightTiny;
  color: inherit;
  text-transform: uppercase;
  transition: color 0.3s;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $ColorSecondary;
    transition:
      color 0.3s,
      width 0.3s;
  }

  .header--dark & {
    color: $ColorWhite;
  }

  &--active,
  &:hover,
  &:focus {
    color: $ColorSecondary !important;
    outline: none;

    &::before {
      width: 24px;
    }
  }

  @media (min-width: $widthFHD) {
    font-size: $fontTextLarge;
    line-height: $lineHeightMedium;
  }

  @media (min-width: $width4K) {
    font-size: $fontTitleRegular;
    line-height: $lineHeightNormal;

    &--active,
    &:hover,
    &:focus {
      &::before {
        width: 48px;
        height: 2px;
      }
    }
  }
}

.header__lang {
  display: flex;
  margin-top: 43px;
  transition: margin-top 0.3s;
  pointer-events: auto;

  .page--inner & {
    margin-top: 33px;
  }

  .header--small & {
    margin-top: 20px;
  }

  @media (min-width: $widthFHD) {
    margin-top: 30px;

    .page--inner &,
    .header--small & {
      margin-top: 30px;
    }
  }
}

.header__lang-item {
  position: relative;
  margin-right: 16px;
  font-size: $fontTextSmall;
  line-height: $lineHeightTiny;
  color: $ColorPrimary300;
  text-transform: capitalize;
  transition: color 0.3s;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $ColorSecondary;
    transition:
      color 0.3s,
      width 0.3s;
  }

  .header--dark & {
    color: $ColorWhite;
  }

  &--active,
  &:hover,
  &:focus {
    color: $ColorSecondary300 !important;
    outline: none;

    &::before {
      width: 100%;
    }
  }

  @media (min-width: $widthFHD) {
    font-size: $fontTextHuge;
    line-height: $lineHeightNormal;

    &::before {
      height: 2px;
    }
  }

  @media (min-width: $width4K) {
    font-size: $fontTitleSmall;
  }
}
