.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition:
    background-color 0.3s,
    transform 0.3s;
  pointer-events: none;

  &--dark {
    background-color: $fontColorHeaders;
  }

  .page--inner & {
    position: relative;
    box-shadow: 0 4px 15px rgba($ColorBlack, 0.1);

    @media (min-width: $widthMobile) {
      position: sticky;
      background-color: #ffffff;
    }

    @media (min-width: $widthTablet) {
      position: relative;
      background: none;
    }

    &--dark {
      background-color: $fontColorHeaders;

      @media (min-width: $widthMobile) {
        background-color: $fontColorHeaders;
      }

      @media (min-width: $widthTablet) {
        background-color: $fontColorHeaders;
      }
    }
  }

  .page--404 & {
    &--no-bg {
      background: none;
    }
  }

  @media (min-width: $widthDesktopSmall) {
    &--hidden {
      transform: translateY(-100%);
    }

    &--no-bg {
      background: none;
    }
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $widthTablet) {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @media (min-width: $widthDesktopSmall) {
    align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @media (min-width: $widthFHD) {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  @media (min-width: $width4K) {
    padding-top: 61px;
    padding-bottom: 61px;
  }
}

.header__logo {
  margin-right: auto;
  pointer-events: auto;

  img {
    display: block;
    width: 41px;
    transition: width 0.3s;
  }

  @media (min-width: $widthTablet) {
    img {
      width: 58px;
    }
  }

  @media (min-width: $width4K) {
    img {
      width: 116px;
    }
  }
}

.header__menu {
  display: none;
  margin-top: 15px;
  margin-right: 60px;
  margin-left: 20px;
  transition: margin-top 0.3s;
  pointer-events: auto;

  @media (min-width: $widthDesktopSmall) {
    display: block;
  }

  @media (min-width: $width4K) {
    margin-top: 30px;
  }
}

.header__menu-list {
  @extend %list-reset;
  display: flex;
  flex-wrap: wrap;
}

.header__menu-item {
  margin-right: 29px;
  margin-bottom: 5px;
  margin-left: 30px;
}

.header__menu-link {
  position: relative;
  font-weight: $fontSemiBold;
  font-size: $fontTextSmall;
  line-height: $lineHeightTiny;
  color: inherit;
  text-transform: uppercase;
  transition: color 0.3s;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $ColorSecondary;
    transition:
      color 0.3s,
      width 0.3s;
  }

  .page--index & {
    @media (max-width: $widthFHD - 1) {
      text-shadow:
        -2px -2px 7px $ColorWhite,
        2px -2px 7px $ColorWhite,
        2px 2px 7px $ColorWhite,
        -2px 2px 7px $ColorWhite;
    }
  }

  .header--dark & {
    color: $ColorWhite;
    text-shadow: none;
  }

  &--active,
  &:hover,
  &:focus {
    color: $ColorSecondary !important;
    outline: none;

    &::before {
      width: 24px;
    }
  }

  @media (min-width: $widthFHD) {
    font-size: $fontTextLarge;
    line-height: $lineHeightMedium;
  }

  @media (min-width: $width4K) {
    font-size: $fontTitleRegular;
    line-height: $lineHeightNormal;

    &--active,
    &:hover,
    &:focus {
      &::before {
        width: 48px;
        height: 2px;
      }
    }
  }
}

.header__lang {
  display: none;
  margin-top: 16px;
  transition: margin-top 0.3s;
  pointer-events: auto;

  @media (min-width: $widthDesktopSmall) {
    display: flex;
  }

  @media (min-width: $width4K) {
    margin-top: 30px;
  }
}

.header__lang-item {
  position: relative;
  margin-right: 16px;
  font-size: $fontTextSmall;
  line-height: $lineHeightTiny;
  color: $ColorPrimary300;
  text-transform: capitalize;
  transition: color 0.3s;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $ColorSecondary;
    transition:
      color 0.3s,
      width 0.3s;
  }

  .header--dark & {
    color: $ColorWhite;
  }

  &--active,
  &:hover,
  &:focus {
    color: $ColorSecondary300 !important;
    outline: none;

    &::before {
      width: 100%;
    }
  }

  @media (min-width: $widthFHD) {
    font-size: $fontTextHuge;
    line-height: $lineHeightNormal;

    &::before {
      height: 2px;
    }
  }

  @media (min-width: $width4K) {
    font-size: $fontTitleSmall;
  }
}

.header__mobile-menu-toggle {
  position: relative;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 0;
  background: url("../img/icon-menu-toggle.svg") center / contain no-repeat;
  border: none;
  cursor: pointer;
  pointer-events: auto;
  appearance: none;

  &:hover,
  &:focus {
    outline: none;
  }

  @media (min-width: $widthTablet) {
    width: 39px;
    height: 39px;
  }

  @media (min-width: $widthDesktopSmall) {
    display: none;
  }
}
