.hero {
  .container {
    position: relative;
  }
}

.hero__wrapper {
  position: relative;
  padding-top: 70px;
}

.hero__slide {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $width2K) {
    min-height: 560px;
  }
}

.hero__slide-content {
  width: 430px;
  margin-top: 23px;

  @media (min-width: $width2K) {
    width: 460px;
  }

  @media (min-width: $width4K) {
    width: 1100px;
  }
}

.hero__slide-title {
  margin: 0;
  margin-bottom: 27px;
  font-weight: $fontBold;
  font-size: $fontHeadersH1;
  line-height: $lineHeightH1;
  text-transform: uppercase;

  @media (min-width: $width4K) {
    font-size: $fontHeaders4KH1;
    line-height: 1.2;
  }
}

.hero__slide-text {
  width: 345px;
  margin: 0;
  font-weight: $fontMedium;
  font-size: $fontHeadersH2;
  line-height: $lineHeightH2;
}

.hero__slide-image {
  margin-right: -20px;

  img {
    display: block;
    max-height: 570px;

    @media (min-width: $width2K) {
      width: auto;
      max-height: 423px;
    }
  }

  @media (min-width: $width2K) {
    margin-right: 42px;

    img {
      width: auto;
      max-height: 423px;
    }
  }

  @media (min-width: $width4K) {
    img {
      max-height: none;
    }
  }
}

.hero__slide-links {
  position: absolute;
  right: 12px;
  bottom: 40px;
  width: 400px;
  display: flex;
  justify-content: flex-end;
}

.hero__slide-link {
  color: inherit;
  transition: filter 0.3s;

  img {
    display: block;
  }

  &:not(:first-child) {
    margin-left: 60px;
  }

  &:hover,
  &:focus {
    outline: none;
    filter: drop-shadow(0 5px 10px rgba($ColorPrimary200, 0.7));
  }
}

.hero__slider-control {
  position: absolute;
  right: 15px;
  bottom: 107px;
  z-index: 1;
  display: none;
  flex-direction: column;

  &--shown {
    display: flex;
    animation: 0.5s 0.5s both move-left;
  }

  @media (min-width: $width2K) {
    bottom: 120px;
  }
}

.hero__slider-button {
  width: 40px;
  height: 12px;
  padding: 0;
  background: url("../img/icon-arrow.svg") center / contain no-repeat;
  border: none;
  cursor: pointer;
  filter: grayscale(1) brightness(2.5);
  transition: filter 0.3s;

  &--left {
    transform: scaleX(-1);
  }

  &:not(:last-child) {
    margin-bottom: 28px;
  }

  &:hover,
  &:focus {
    outline: none;
    filter: none;
  }
}

.hero__social {
  position: absolute;
  top: 107px;
  right: 10px;
  z-index: 2;
  display: none;
  flex-direction: column-reverse;

  &--shown {
    display: flex;
    animation: 0.5s both move-left;
  }

  span {
    margin-top: 55px;
    margin-left: -18px;
    font-weight: $fontBold;
    font-size: $fontTextNav;
    line-height: $lineHeightNav;
    color: $ColorSecondary;
    text-transform: capitalize;
    transform: rotate(-90deg);
  }

  @media (min-width: $width2K) {
    right: 22px;
  }
}

.hero__social-links {
  display: flex;
  flex-direction: column;
}

.hero__social-link {
  width: 16px;
  height: 15px;
  color: inherit;
  background: center / contain no-repeat;
  filter: grayscale(1) brightness(0.8);
  transition: filter 0.3s;

  &:not(:last-child) {
    margin-bottom: 18px;
  }

  @each $icon in fb, ig, vk, yt {
    &--#{$icon} {
      background-image: url("../img/icon-social-#{$icon}.svg");
    }
  }

  &:hover,
  &:focus {
    outline: none;
    filter: none;
  }
}
