.labels {
  width: 100vw;
  margin-bottom: 37px;

  @media (min-width: $widthTablet) {
    margin-bottom: 58px;
  }

  @media (min-width: $widthDesktopSmall) {
    width: auto;
    margin-bottom: 25px;
  }

  @media (min-width: $widthFHD) {
    margin-bottom: 30px;

    .container {
      max-width: 1770px;
    }
  }

  @media (min-width: $width4K) {
    margin-bottom: 80px;

    .container {
      max-width: 3370px;
    }
  }
}

.labels__title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: $fontBold;
  font-size: $fontTextHuge;
  line-height: $lineHeightTitleRegular;

  @media (min-width: $widthTablet) {
    margin-bottom: 38px;
    font-size: $fontTitleRegular;
  }

  @media (min-width: $widthDesktopSmall) {
    margin-bottom: 8px;
    line-height: $lineHeightTitleRegular;
  }

  @media (min-width: $widthFHD) {
    margin-bottom: 13px;
    font-size: $fontTitleRegular;
    line-height: $lineHeightTitleRegular;
  }

  @media (min-width: $width4K) {
    margin-bottom: 24px;
    font-size: $fontTitleSmall4K;
    line-height: $lineHeightTitleRegular4K;
  }
}

.labels__slider {
  position: relative;
  height: 153px;
  padding-bottom: 70px;

  @media (min-width: $widthTablet) {
    height: auto;
  }

  @media (min-width: $widthDesktopSmall) {
    padding-right: 100px;
    padding-bottom: 0;
    padding-left: 100px;
  }

  @media (min-width: $widthFHD) {
    padding-right: 105px;
    padding-left: 105px;
  }

  @media (min-width: $width4K) {
    padding-right: 240px;
    padding-left: 240px;
  }
}

.labels__slider-wrapper {
  height: 100%;
}

.labels__slide-list {
  display: flex;
  align-items: center;

  @media (min-width: $widthTablet) {
    &--linear {
      transition-timing-function: linear !important;
    }
  }
}

.labels__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  max-height: 64px;
  transition: filter 0.5s;
  filter: grayscale(1);

  img {
    display: block;
  }

  &:hover,
  &:focus {
    outline: none;
    filter: grayscale(0);
  }

  @media (min-width: $width4K) {
    width: 184px;
    max-height: 146px;

    img {
      width: auto;
    }
  }
}

.labels__slider-control {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  width: 130px;
  justify-content: space-between;
  pointer-events: none;

  @media (min-width: $widthTablet) {
    width: 140px;
  }

  @media (min-width: $widthDesktopSmall) {
    top: 15px;
    right: 0;
    bottom: auto;
    width: initial;
  }

  @media (min-width: $width4K) {
    top: 50px;
  }
}

.labels__slider-button {
  width: 52px;
  height: 37px;
  padding: 0;
  background: url("../img/icon-arrow-white.svg") center / 21px no-repeat $fontColorLightGrey;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s;
  pointer-events: auto;

  &--left {
    transform: scaleX(-1);
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: $ColorSecondary;
  }

  @media (min-width: $widthDesktopSmall) {
    background-size: 24px;
    border-radius: 10px;
  }

  @media (min-width: $width4K) {
    width: 89px;
    height: 63px;
    background-size: 41px;
  }
}
