.labels {
  margin-bottom: 25px;

  @media (min-width: $widthFHD) {
    margin-bottom: 30px;

    .container {
      max-width: 1770px;
    }
  }

  @media (min-width: $width4K) {
    margin-bottom: 80px;

    .container {
      max-width: 3370px;
    }
  }
}

.labels__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: $fontBold;
  font-size: $fontTextHuge;
  line-height: 1.2;

  @media (min-width: $widthFHD) {
    margin-bottom: 13px;
    font-size: $fontHeadersH2;
  }

  @media (min-width: $width4K) {
    margin-bottom: 24px;
    font-size: $fontHeadersH2_4K;
  }
}

.labels__slider {
  position: relative;
  padding-right: 100px;
  padding-left: 100px;

  @media (min-width: $widthFHD) {
    padding-right: 105px;
    padding-left: 105px;
  }

  @media (min-width: $width4K) {
    padding-right: 240px;
    padding-left: 240px;
  }
}

.labels__slide-list {
  display: flex;
  align-items: center;
}

.labels__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  max-height: 64px;
  transition: filter 0.5s;
  filter: grayscale(1);

  img {
    display: block;
  }

  &:hover,
  &:focus {
    outline: none;
    filter: grayscale(0);
  }

  @media (min-width: $width4K) {
    width: 184px;
    max-height: 146px;

    img {
      width: auto;
    }
  }
}

.labels__slider-control {
  position: absolute;
  top: 15px;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  pointer-events: none;

  @media (min-width: $width4K) {
    top: 50px;
  }
}

.labels__slider-button {
  width: 52px;
  height: 37px;
  padding: 0;
  background: url("../img/icon-arrow-white.svg") center / 24px no-repeat $fontColorLightGrey;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  pointer-events: auto;

  &--left {
    transform: scaleX(-1);
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: $ColorSecondary;
  }

  @media (min-width: $width4K) {
    width: 89px;
    height: 63px;
    background-size: 41px;
  }
}
