.partners {
  width: 100vw;
  margin-bottom: 15px;

  .columns {
    flex-direction: column;
  }

  @media (min-width: $widthTablet) {
    margin-bottom: 40px;
  }

  @media (min-width: $widthDesktopSmall) {
    width: auto;
    margin-bottom: 10px;

    .columns {
      grid-template-columns: 1fr calc(50% + 85px);
    }
  }

  @media (min-width: $widthFHD) {
    margin-bottom: 15px;

    .columns {
      grid-template-columns: 1fr calc(50% + 43px);
    }
  }

  @media (min-width: $width4K) {
    margin-bottom: 60px;
  }
}

.partners__col-left {
  display: flex;
}

.partners__col-left-wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 26px 15px 20px;

  @media (min-width: $widthTablet) {
    padding: 38px 39px 30px;
  }

  @media (min-width: $widthDesktopSmall) {
    width: 517px;
    margin-left: auto;
    padding: 50px 30px 40px 15px;

    @media (max-height: 810px) {
      // padding-top: calc(50vh - 355px);
      padding-bottom: calc(50vh - 365px);
      padding-bottom: Max(calc(50vh - 365px), 10px);
    }
  }

  @media (min-width: $widthFHD) {
    width: 870px;
    padding-top: 80px;
    padding-left: 30px;
    padding-bottom: 10px;
  }

  @media (min-width: $width4K) {
    width: 1700px;
    padding-top: 140px;
    padding-bottom: 70px;
    padding-left: 60px;

    @media (max-height: 810px) {
      // padding-top: calc(50vh - 265px);
      padding-bottom: calc(50vh - 335px);
      padding-bottom: Max(calc(50vh - 335px), 10px);
    }
  }
}

.partners__title {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  font-weight: $fontBold;
  font-size: $fontTextHuge;
  line-height: $lineHeightTitleRegular;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 87px;
    height: 2px;
    background-color: $ColorSecondary;
  }

  @media (min-width: $widthTablet) {
    margin-bottom: 33px;
    padding-top: 16px;
    font-size: $fontTitleRegular;

    &::before {
      width: 124px;
      height: 4px;
    }
  }

  @media (min-width: $widthDesktopSmall) {
    margin-bottom: 23px;
    line-height: $lineHeightTitleRegular;
  }

  @media (min-width: $widthFHD) {
    margin-bottom: 21px;
    font-size: $fontTitleRegular;
    line-height: $lineHeightTitleRegular;
  }

  @media (min-width: $width4K) {
    margin-bottom: 45px;
    padding-top: 25px;
    font-size: $fontTitleSmall4K;
    line-height: $lineHeightTitleRegular4K;

    &::before {
      width: 360px;
      height: 9px;
    }
  }
}

.partners__text {
  margin: 0;
  font-weight: $fontSemiBold;
  font-size: $fontTextMedium;
  line-height: $lineHeightRegular2K;
  color: $ColorPrimary300;

  @media (min-width: $widthTablet) {
    font-size: $fontTitleTiny;
    line-height: $lineHeightRegular4K;
  }

  @media (min-width: $widthDesktopSmall) {
    font-size: $fontTextLarge;
    line-height: $fontTitleRegular;

    @media (max-height: 700px) {
      font-size: $fontTextRegular;
    }
  }

  @media (min-width: $widthFHD) {
    font-weight: $fontBold;
    line-height: $lineHeightHuge;
  }

  @media (min-width: $width4K) {
    font-weight: $fontSemiBold;
    font-size: $fontTitleHuge;
    line-height: $lineHeightXLarge4K;
  }
}

.partners__col-right {
  display: flex;
  background: url("../img/partners_bg-mobile@1x.png") top -110px right -280px / 559px no-repeat $ColorPrimary200;

  @media (min-resolution: 144dpi) {
    background-image: url("../img/partners_bg-mobile@2x.png");
  }

  @media (min-width: $widthTablet) {
    background-image: none;
  }

  @media (min-width: $widthDesktopSmall) {
    background-image: url("../img/partners_bg@1x.png");
    background-position: top -565px right -760px;
    background-size: 1777px;

    @media (min-resolution: 144dpi) {
      background-image: url("../img/partners_bg@2x.png");
    }
  }

  @media (min-width: $widthFHD) {
    background-position: top -585px right -695px;
  }

  @media (min-width: $width4K) {
    background-image: url("../img/partners_bg-4k@1x.png");
    background-position: top -1480px right -1175px;
    background-size: 3227px;

    @media (min-resolution: 144dpi) {
      background-image: url("../img/partners_bg-4k@2x.png");
    }
  }
}

.partners__col-right-wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 36px 15px 36px;

  @media (min-width: $widthTablet) {
    padding: 33px 39px 35px;
  }

  @media (min-width: $widthDesktopSmall) {
    width: 683px;
    padding: 80px 15px 40px 32px;

    @media (max-height: 810px) {
      // padding-top: calc(50vh - 325px);
      // padding-top: Max(calc(50vh - 325px), 30px);
      padding-bottom: calc(50vh - 365px);
      padding-bottom: Max(calc(50vh - 365px), 10px);
    }
  }

  @media (min-width: $widthFHD) {
    width: 960px;
    padding-top: 136px;
    padding-bottom: 20px;
    padding-left: 40px;

    @media (max-height: 810px) {
      // padding-top: calc(50vh - 299px);
      // padding-top: Max(calc(50vh - 299px), 56px);
    }
  }

  @media (min-width: $width4K) {
    width: 1845px;
    padding: 150px 60px 70px 100px;

    @media (max-height: 810px) {
      // padding-top: calc(50vh - 255px);
      // padding-top: Max(calc(50vh - 255px), 10px);
      padding-bottom: calc(50vh - 335px);
      padding-bottom: Max(calc(50vh - 335px), 10px);
    }
  }
}

.partners__text-small {
  margin: 0;
  font-weight: $fontMedium;
  line-height: $lineHeightHuge;
  color: $ColorWhite;

  @media (min-width: $widthTablet) {
    font-size: $fontTitleTiny;
    line-height: $lineHeightRegular4K;
  }

  @media (min-width: $widthDesktopSmall) {
    font-size: $fontTextMedium;
    line-height: $lineHeightHuge;

    @media (max-height: 700px) {
      font-size: $fontTextSmall;
    }
  }

  @media (min-width: $widthFHD) {
    font-size: $fontTextRegular;
    line-height: $lineHeightLarge;
  }

  @media (min-width: $width4K) {
    font-size: $fontTextMedium4K;
    line-height: $lineHeightTitleHuge;
  }
}
