.partnership {
  background-image: linear-gradient(57deg, $ColorPrimary400, $ColorPrimary300 257%);

  @media (min-width: $widthDesktopSmall) {
    display: flex;
    align-items: center;
  }
}

.partnership__wrapper {
  box-sizing: border-box;
  padding: 28px 15px;

  @media (min-width: $widthTablet) {
    padding: 48px 39px;
  }

  @media (min-width: $widthDesktopSmall) {
    width: 700px;
    min-height: 700px;
    margin-left: auto;
    padding: 4px 85px 4px 30px;
  }

  @media (min-width: $widthFHD) {
    width: 877px;
    padding: 0;
    margin: auto;
  }

  @media (min-width: $width4K) {
    width: 1800px;
    padding-left: 60px;
    min-height: 1273px;
    display: flex;
    flex-direction: column;
  }
}

.partnership__title {
  position: relative;
  display: block;
  margin-bottom: 20px;
  font-weight: $fontBold;
  font-size: $fontTextHuge;
  line-height: $lineHeightTitleRegular;
  color: $ColorSecondary300;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 87px;
    height: 2px;
    background-color: $ColorWhite;
  }

  @media (min-width: $widthTablet) {
    margin-bottom: 20px;
    padding-top: 24px;
    font-size: $fontTitleRegular;

    &::before {
      width: 124px;
      height: 4px;
    }
  }

  @media (min-width: $widthDesktopSmall) {
    margin-bottom: 45px;
    line-height: $lineHeightNormal;
  }

  @media (min-width: $width4K) {
    font-size: $fontTitleRegular4K;
    line-height: $lineHeightTitleRegular4K;
    margin-bottom: 150px;

    &::before {
      width: 360px;
      height: 9px;
    }
  }
}

.partnership__form-wrapper {
  @media (min-width: $widthDesktopSmall) {
    width: 572px;
  }

  @media (min-width: $widthFHD) {
    width: 100%;
  }
}

.partnership__form-variants {
  display: flex;
  width: 290px;
  justify-content: space-between;
  margin-bottom: 25px;

  @media (min-width: $widthTablet) {
    width: auto;
    margin-bottom: 52px;
  }

  @media (min-width: $widthDesktopSmall) {
    justify-content: initial;
    margin-bottom: 46px;
  }
}

.partnership__form-variant {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  appearance: none;

  &:focus {
    outline: none;
  }

  &--active {
    transition: all 0.3s;

    .partnership__form-variant-title {
      color: $ColorSecondary;
    }

    .partnership__form-variant-desc {
      color: $fontColorLightGrey;

      &::before {
        width: 100%;
      }
    }
  }

  @media (min-width: $widthTablet) {
    box-sizing: content-box;
    width: 200px;
  }

  @media (max-width: $widthDesktopSmall - 1) {
    &:not(:first-child) {
      padding-left: 7px;
      border-left: 1px solid $ColorSecondary;
    }

    @media (min-width: $widthTablet) {
      &:not(:first-child) {
        padding-left: 60px;
        border-left-width: 2px;
      }

      &:last-child {
        margin-right: calc(50vw - 260px - 39px);
      }
    }
  }

  @media (min-width: $widthDesktopSmall) {
    box-sizing: border-box;
    width: auto;

    &:not(:last-child) {
      margin-right: 0;
    }
  }

  @media (min-width: $width4K) {
    &:not(:last-child) {
      margin-right: 150px;
    }
  }
}

.partnership__form-variant-title {
  margin: 0;
  margin-bottom: 3px;
  font-weight: $fontSemiBold;
  font-size: $fontTextSmall;
  line-height: $lineHeightSmall;
  color: $ColorPrimary300;
  text-transform: uppercase;
  transition: color 0.3s;

  @media (min-width: $widthTablet) {
    margin-bottom: 11px;
    font-size: $fontTextLarge;
    line-height: $lineHeightMedium;
  }

  @media (min-width: $width4K) {
    font-size: $fontTitleTiny4K;
    line-height: $lineHeightTiny4K;
    margin-bottom: 40px;
  }
}

.partnership__form-variant-desc {
  position: relative;
  margin: 0;
  padding-bottom: 5px;
  font-weight: $fontMedium;
  font-size: $fontTextTiny;
  line-height: $lineHeightNormal;
  color: $ColorPrimary300;
  text-transform: uppercase;
  transition: color 0.3s;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $ColorPrimary300;
    border-radius: 1px;
    transition: width 0.3s;
  }

  @media (min-width: $widthTablet) {
    padding-bottom: 6px;
    font-size: $fontTextSmall;
    line-height: $lineHeightTiny;
  }

  @media (min-width: $width4K) {
    font-size: $fontTextRegular4K;
    line-height: $lineHeightRegular4K;
  }
}

.partnership__form {
  display: none;

  &--shown {
    display: block;
  }
}

.partnership__form-stage {
  display: none;

  &--active {
    display: block;
    animation: 1s both fade-in;
  }
}

.partnership__form-fields {
  display: grid;
  grid-template-columns: 1fr;
  gap: 11px;

  @media (min-width: $widthTablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 44px 38px;
    margin-bottom: 22px;
  }

  @media (min-width: $widthDesktopSmall) {
    grid-template-columns: repeat(2, 270px);
    gap: 36px 32px;
    margin-bottom: 16px;

    @media (max-height: 683px) {
      row-gap: Max(calc((100vh - 575px) / 3), 10px);
    }
  }

  @media (min-width: $widthFHD) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $width4K) {
    gap: 78px 32px;
  }
}

.partnership__form-field {
  position: relative;
  min-height: 54px;
  font-weight: $fontMedium;
  font-size: $fontTextRegular;
  line-height: $lineHeightSmall;
  color: $ColorWhite;

  input,
  textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 17px 15px;
    font: inherit;
    color: inherit;
    background: none;
    border: 1px solid $ColorWhite;
    border-radius: 10px;
    transition:
      color 0.3s,
      border-color 0.3s;
    appearance: none;

    &.filled,
    &:hover,
    &:focus {
      color: $ColorWhite;
      border-color: $ColorSecondary;

      + span {
        color: $ColorSecondary;
      }
    }

    &.filled,
    &:focus {
      outline: none;

      + span {
        transform: translateY(-15px) scale(0.8);
      }
    }
  }

  [type="tel"] {
    padding-left: 100px;
    transition: padding-left 0.3s;

    &.filled,
    &:focus {
      padding-left: 15px;
    }
  }

  textarea {
    height: 190px;
    padding-top: 30px;
  }

  span {
    position: absolute;
    top: 17px;
    left: 15px;
    width: calc(100% - 30px);
    transform-origin: left;
    transition:
      color 0.3s,
      transform 0.3s;
    pointer-events: none;
    user-select: none;
  }

  @media (min-width: $widthTablet) {
    min-height: 65px;
    font-size: $fontTextMedium;
    line-height: $lineHeightRegular;

    input,
    textarea {
      padding: 22px;
    }

    [type="tel"] {
      &.filled,
      &:focus {
        padding-left: 22px;
      }
    }

    textarea {
      height: 135px;
      padding-top: 22px;
    }

    span {
      top: 22px;
      left: 22px;
      width: calc(100% - 44px);
    }

    &--wide {
      grid-column: 1 / 3;
    }
  }

  @media (min-width: $widthDesktopSmall) {
    min-height: 54px;
    font-size: $fontTextRegular;

    input,
    textarea {
      padding: 17px 15px;
    }

    [type="tel"] {
      &.filled,
      &:focus {
        padding-left: 15px;
      }
    }

    textarea {
      height: 110px;
      padding-top: 17px;
    }

    span {
      top: 17px;
      left: 15px;
      width: calc(100% - 30px);
    }
  }

  @media (min-width: $width4K) {
    min-height: 75px;
    font-size: $fontTextRegular4K;
    line-height: $lineHeightMedium4K;

    input,
    textarea {
      padding: 44px 40px;

      &.filled,
      &:focus {
        + span {
          transform: translateY(-40px) scale(0.8);
        }
      }
    }

    [type="tel"] {
      padding-left: 220px;

      &.filled,
      &:focus {
        padding-left: 40px;
      }
    }

    textarea {
      height: 200px;
    }

    span {
      width: calc(100% - 40px);
      top: 44px;
      left: 40px;
    }
  }
}

.partnership__form-row {
  margin-top: 15px;
  margin-bottom: 10px;

  p {
    margin: 0;
    margin-bottom: 16px;
    font-weight: $fontMedium;
    font-size: $fontTextRegular;
    line-height: $lineHeightSmall;
    color: $ColorSecondary;
  }

  @media (min-width: $widthTablet) {
    margin-top: 22px;

    @media (max-width: $widthDesktopSmall - 1) {
      + .partnership__form-privacy {
        margin-top: 0;
      }
    }
  }

  @media (min-width: $widthDesktopSmall) {
    margin-top: 0;
    margin-bottom: 3px;

    p {
      margin-bottom: 13px;
    }
  }

  @media (min-width: $width4K) {
    p {
      font-size: $fontTextSmall4K;
      line-height: $lineHeightSmall4K;
      margin-top: 40px;
      margin-bottom: 25px;
    }
  }
}

.partnership__form-checkbox-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $widthTablet) {
    flex-direction: row;
  }
}

.partnership__form-checkbox {
  position: relative;
  display: inline-block;
  margin-bottom: 18px;
  padding-left: 26px;
  font-weight: $fontMedium;
  font-size: $fontTextRegular;
  line-height: $lineHeightSmall;
  color: $ColorWhite;
  transition: color 0.3s;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 18px;
    height: 18px;
    opacity: 0;
    cursor: pointer;

    &:checked + span {
      &::after {
        transform: none;
      }
    }
  }

  span {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      border: 1px solid $ColorWhite;
      border-radius: 5px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      width: 9px;
      height: 9px;
      background: url("../img/icon-check.svg") center / contain no-repeat;
      transform: scale(0);
      transition: transform 0.3s;
      filter: brightness(0) invert(1);
    }
  }

  &:hover,
  &:focus-within {
    color: $ColorPrimary100;
  }

  @media (min-width: $widthTablet) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  @media (min-width: $widthDesktopSmall) {
    margin-bottom: 0;
    font-size: $fontTextRegular;
    line-height: $lineHeightRegular;

    &:not(:last-child) {
      margin-right: 36px;
    }
  }

  @media (min-width: $width4K) {
    padding-left: 60px;
    font-size: $fontTextSmall4K;
    line-height: $lineHeightSmall4K;

    input {
      width: 40px;
      height: 40px;
    }

    span {
      &::before {
        top: 0;
        width: 40px;
        height: 40px;
      }

      &::after {
        top: 7px;
        width: 11px;
        height: 11px;
      }
    }
  }
}

.partnership__form-privacy {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 18px;
  padding-left: 32px;
  font-weight: $fontMedium;
  font-size: $fontTextSmall;
  line-height: $lineHeightRegular;
  color: $ColorPrimary300;
  transition: color 0.3s;
  cursor: pointer;

  input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 18px;
    height: 18px;
    opacity: 0;
    cursor: pointer;

    &:checked + span {
      &::after {
        transform: none;
      }
    }
  }

  span {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      border: 1px solid $ColorSecondary;
      border-radius: 5px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      width: 9px;
      height: 9px;
      background: url("../img/icon-check.svg") center / contain no-repeat;
      transform: scale(0);
      transition: transform 0.3s;
    }
  }

  &:hover,
  &:focus-within {
    color: $ColorPrimary100;
  }

  @media (min-width: $widthTablet) {
    margin-bottom: 30px;
    font-size: $fontTextMedium;
    line-height: $lineHeightSubtitleRegular;
  }

  @media (min-width: $widthDesktopSmall) {
    margin-top: 25px;
    font-size: $fontTextRegular;
    line-height: $lineHeightRegular;
  }

  @media (min-width: $width4K) {
    font-size: $fontTextSmall4K;
    line-height: $lineHeightSmall4K;
    padding-left: 60px;
    margin: 66px 0;

    input {
      width: 40px;
      height: 40px;
    }

    span {
      &::before {
        top: 0;
        width: 40px;
        height: 40px;
      }

      &::after {
        top: 12px;
        left: 12px;
        width: 20px;
        height: 20px;
      }
    }
  }
}

.partnership__form-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 316px;

  @media (min-width: $widthTablet) {
    max-width: 400px;
  }

  @media (min-width: $widthDesktopSmall) {
    width: 470px;
    max-width: initial;
    margin-top: -13px;
  }

  @media (min-width: $width4K) {
    width: 520px;
    margin-top: 0;
  }
}

.partnership__form-button-prev {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  padding-left: 28px;
  font-weight: $fontSemiBold;
  font-size: $fontTextLarge;
  line-height: $lineHeightMedium;
  vertical-align: middle;
  text-align: center;
  color: $ColorWhite;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background: none;
  border: none;
  transition: color 0.3s;
  cursor: pointer;
  appearance: none;

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 18px;
    height: 8px;
    background: url("../img/icon-arrow.svg") center / contain no-repeat;
    filter: brightness(0) invert(1);
    transform: scaleX(-1);
  }

  &:hover,
  &:focus {
    color: $ColorPrimary100;
    outline: none;
  }

  @media (min-width: $width4K) {
    padding-left: 40px;
    font-size: $fontTitleRegular;
    line-height: $lineHeightNormal;

    &::before {
      top: 12px;
      width: 27px;
      height: 12px;
    }
  }
}

.partnership__form-arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  margin: 0 40px;

  @media (min-width: $widthMobile) {
    display: none;
  }

  @media (min-width: $widthDesktopSmall) {
    display: flex;
  }

  @media (min-width: $width4K) {
    display: none;
  }

  &--active {
    .partnership__form-arrow-top {
      fill: #c81b75;
    }

    .partnership__form-arrow-bottom {
      fill: #b4b1b1;
    }
  }
}

.partnership__form-arrow-top {
  fill: #b4b1b1;
}

.partnership__form-arrow-bottom {
  fill: #c81b75;
}

.partnership__form-button-next {
  @media (min-width: $width4K) {
    width: 382px;
  }
}
