.partnership {
  display: flex;
  align-items: center;
  background-image: linear-gradient(57deg, $ColorPrimary400, $ColorPrimary300 257%);
}

.partnership__wrapper {
  box-sizing: border-box;
  width: 685px;
  margin-left: auto;
  padding: 93px 85px 52px 15px;
}

.partnership__title {
  position: relative;
  display: block;
  margin-bottom: 45px;
  font-weight: $fontBold;
  font-size: $fontHeadersH2;
  line-height: 1.2;
  color: $ColorSecondary300;

  &::before {
    content: "";
    position: absolute;
    top: -24px;
    left: 0;
    width: 124px;
    height: 4px;
    background-color: $ColorWhite;
  }
}

.partnership__text {
  width: 470px;
  margin: 0;
  margin-bottom: 40px;
  font-weight: $fontMedium;
  font-size: $fontTextSmall;
  line-height: $lineHeightLarge;
  color: $ColorWhite;
}

.partnership__form {
  width: 572px;
}

.partnership__form-variants {
  display: flex;
  margin-bottom: 52px;
}

.partnership__form-variant {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:not(:last-child) {
    margin-right: 115px;
  }

  &--active {
    .partnership__form-variant-title {
      color: $ColorSecondary;
    }

    .partnership__form-variant-desc {
      color: $fontColorLightGrey;

      &::before {
        width: 100%;
      }
    }
  }
}

.partnership__form-variant-title {
  margin: 0;
  margin-bottom: 11px;
  font-weight: $fontSemiBold;
  font-size: $fontTextMedium;
  line-height: $lineHeightButton;
  color: $ColorPrimary300;
  text-transform: uppercase;
  transition: color 0.3s;
}

.partnership__form-variant-desc {
  position: relative;
  margin: 0;
  font-weight: $fontMedium;
  font-size: $fontTextNav;
  line-height: $lineHeightNav;
  color: $ColorPrimary300;
  text-transform: uppercase;
  transition: color 0.3s;

  &::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $ColorPrimary300;
    border-radius: 1px;
    transition: width 0.3s;
  }
}

.partnership__form-stage {
  display: none;

  &--active {
    display: block;
  }
}

.partnership__form-fields {
  display: grid;
  grid-template-columns: repeat(2, 270px);
  gap: 36px 32px;
  margin-bottom: 16px;
}

.partnership__form-field {
  position: relative;
  min-height: 54px;
  font-weight: $fontMedium;
  font-size: $fontTextSmall;
  line-height: $lineHeightSmall;
  color: $ColorWhite;

  input,
  textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 17px 15px;
    font: inherit;
    color: inherit;
    background: none;
    border: 1px solid currentColor;
    border-radius: 10px;
    transition: color 0.3s;

    &.filled,
    &:hover,
    &:focus {
      color: $ColorSecondary;

      + span {
        color: $ColorSecondary;
      }
    }

    &.filled,
    &:focus {
      outline: none;

      + span {
        transform: translateY(-15px) scale(0.8);
      }
    }
  }

  textarea {
    height: 110px;
  }

  span {
    position: absolute;
    top: 17px;
    left: 15px;
    transform-origin: left;
    transition:
      color 0.3s,
      transform 0.3s;
    pointer-events: none;
    user-select: none;
  }

  &--wide {
    grid-column: 1 / 3;
  }
}

.partnership__form-row {
  margin-bottom: 3px;

  p {
    margin: 0;
    margin-bottom: 13px;
    font-weight: $fontMedium;
    font-size: $fontTextSmall;
    line-height: $lineHeightNav_Footer;
    color: $ColorSecondary;
  }
}

.partnership__form-checkbox-wrapper {
  display: flex;
}

.partnership__form-checkbox {
  position: relative;
  display: inline-block;
  padding-left: 26px;
  font-weight: $fontMedium;
  font-size: $fontTextSmall;
  line-height: $lineHeightSmall;
  color: $ColorWhite;
  transition: color 0.3s;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 36px;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 18px;
    height: 18px;
    opacity: 0;
    cursor: pointer;

    &:checked + span {
      &::after {
        transform: none;
      }
    }
  }

  span {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      border: 1px solid $ColorWhite;
      border-radius: 5px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      width: 9px;
      height: 9px;
      background: url("../img/icon-check.svg") center / contain no-repeat;
      transform: scale(0);
      transition: transform 0.3s;
      filter: brightness(0) invert(1);
    }
  }

  &:hover,
  &:focus-within {
    color: $ColorPrimary100;
  }
}

.partnership__form-privacy {
  position: relative;
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 30px;
  padding-left: 32px;
  font-weight: $fontMedium;
  font-size: $fontTextSmall;
  line-height: $lineHeightSmall;
  color: $ColorPrimary300;
  transition: color 0.3s;
  cursor: pointer;

  input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 18px;
    height: 18px;
    opacity: 0;
    cursor: pointer;

    &:checked + span {
      &::after {
        transform: none;
      }
    }
  }

  span {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      border: 1px solid $ColorSecondary;
      border-radius: 5px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      width: 9px;
      height: 9px;
      background: url("../img/icon-check.svg") center / contain no-repeat;
      transform: scale(0);
      transition: transform 0.3s;
    }
  }

  &:hover,
  &:focus-within {
    color: $ColorPrimary100;
  }
}

.partnership__form-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 470px;
  margin-top: -13px;
}

.partnership__form-back {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  font-weight: $fontSemiBold;
  font-size: $fontTextButton;
  line-height: $lineHeightButton;
  vertical-align: middle;
  text-align: center;
  color: $ColorWhite;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background: none;
  border: none;
  transition: color 0.3s;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $ColorPrimary100;
    outline: none;
  }
}
