.partners {
  margin-bottom: 10px;

  .columns {
    grid-template-columns: 1fr calc(50% + 85px);
  }

  @media (min-width: $widthFHD) {
    margin-bottom: 15px;

    .columns {
      grid-template-columns: 1fr calc(50% + 43px);
    }
  }

  @media (min-width: $width4K) {
    margin-bottom: 60px;
  }
}

.partners__col-left {
  display: flex;
}

.partners__col-left-wrapper {
  box-sizing: border-box;
  width: 532px;
  margin-left: auto;
  padding: 50px 30px 40px 30px;

  @media (min-width: $widthFHD) {
    width: 870px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  @media (min-width: $width4K) {
    width: 1640px;
    padding-top: 140px;
    padding-bottom: 70px;
    padding-left: 60px;
  }
}

.partners__title {
  position: relative;
  margin: 0;
  margin-bottom: 23px;
  padding-top: 16px;
  font-weight: $fontBold;
  font-size: $fontTextHuge;
  line-height: 1.2;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 124px;
    height: 4px;
    background-color: $ColorSecondary;
  }

  @media (min-width: $widthFHD) {
    margin-bottom: 21px;
    font-size: $fontHeadersH2;
  }

  @media (min-width: $width4K) {
    margin-bottom: 45px;
    padding-top: 25px;
    font-size: $fontHeadersH2_4K;

    &::before {
      width: 360px;
      height: 9px;
    }
  }
}

.partners__text {
  margin: 0;
  font-weight: $fontSemiBold;
  font-size: $fontTextMedium;
  line-height: 28px;
  color: $ColorPrimary300;

  @media (min-width: $widthFHD) {
    font-weight: $fontBold;
    line-height: $lineHeightPopup;
  }

  @media (min-width: $width4K) {
    font-weight: $fontSemiBold;
    font-size: $fontHeadersH1;
    line-height: 1.75;
  }
}

.partners__col-right {
  display: flex;
  background: url("../img/partners_bg@1x.png") -180px -570px no-repeat $ColorPrimary200;

  @media (min-resolution: 144dpi) {
    background-image: url("../img/partners_bg@2x.png");
    background-size: 1777px;
  }

  @media (min-width: $widthFHD) {
    background-position-x: -80px;
  }

  @media (min-width: $width4K) {
    background-image: url("../img/partners_bg-4k@1x.png");
    background-position: 100px -1470px;
    background-size: 3227px;

    @media (min-resolution: 144dpi) {
      background-image: url("../img/partners_bg-4k@2x.png");
    }
  }
}

.partners__col-right-wrapper {
  box-sizing: border-box;
  width: 698px;
  padding: 80px 30px 40px 32px;

  @media (min-width: $widthFHD) {
    width: 960px;
    padding-top: 106px;
    padding-bottom: 20px;
    padding-left: 40px;
  }

  @media (min-width: $width4K) {
    width: 1845px;
    padding: 150px 60px 70px 100px;
  }
}

.partners__text-small {
  margin: 0;
  font-weight: $fontMedium;
  line-height: $lineHeightPopup;
  color: $ColorWhite;

  @media (min-width: $widthFHD) {
    font-size: $fontTextSmall;
    line-height: 24px;
  }

  @media (min-width: $width4K) {
    font-size: 38px;
    line-height: $lineHeightH1;
  }
}
