.politics {
  padding-bottom: 50px;
  padding-top: 50px;

  @media (min-width: $widthMobile) {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @media (min-width: $widthTablet) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: $widthFHD) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media (min-width: $width4K) {
    padding-top: 140px;
    padding-bottom: 200px;
  }

  ul {
    list-style: none;

    .politics__marked-list-item {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 5px;
        left: -20px;
        width: 7px;
        height: 8px;
        background-color: #ff46a7;
        border-radius: 2px;

        @media (min-width: $width4K) {
          top: 14px;
        }
      }
    }
  }
}

.politics__title {
  position: relative;
  margin: 0;
  margin-bottom: 22px;
  padding-top: 16px;
  font-weight: $fontBold;
  font-size: $fontTitleRegular;
  line-height: $lineHeightTitleRegular;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 124px;
    height: 4px;
    background-color: $ColorSecondary;

    @media (min-width: $widthMobile) {
      width: 87px;
      height: 2px;
    }
  }

  .politics--dark & {
    color: $ColorWhite;
  }

  @media (min-width: $widthMobile) {
    padding-top: 14px;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 22px;
  }

  @media (min-width: $widthTablet) {
    padding-top: 14px;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 36px;
  }

  @media (min-width: $widthFHD) {
    margin-bottom: 40px;
  }

  @media (min-width: $width4K) {
    margin-bottom: 100px;
    padding-top: 25px;
    font-size: $fontTitleSmall4K;
    line-height: $lineHeightTitleRegular4K;

    &::before {
      width: 360px;
      height: 9px;
    }
  }
}

.politics__small-title {
  text-align: center;
  font-size: $fontTextMedium;

  &--cookie {
    text-align: start;
  }

  @media (min-width: $widthMobile) {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
  }

  @media (min-width: $widthTablet) {
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
  }

  @media (min-width: $widthDesktopSmall) {
    font-size: $fontTextMedium;
  }

  @media (min-width: $width4K) {
    font-size: 28px;
  }
}

.politics__link {
  text-decoration: underline;
}

.politics__main-list {
  font-weight: $fontBold;
  padding-left: 0;

  >li {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  @media (min-width: $width4K) {
    font-size: 24px;
    line-height: 35px;
  }
}

.politics__first-list {
  font-weight: $fontRegular;
  padding: 0;
  margin: 16px 0;

  li {
    margin: 16px 0;
  }
}

.politics ol {
  list-style: none;
  counter-reset: li;
}

.politics ol > li::before {
  counter-increment: li;
  content: counters(li, ".") ". ";
}

.politics__marked-list {
  list-style: initial;

  li::before {
    content: "";
  }

  @media (min-width: $width4K) {
    font-size: 24px;
    line-height: 35px;
  }
}

.politics__text {
  font-weight: $fontRegular;
  font-size: $fontTextMedium;

  &--right {
    text-align: end;
    margin: 0;
  }

  &--underline {
    text-decoration: underline;
  }

  @media (min-width: $widthMobile) {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
  }

  @media (min-width: $widthTablet) {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $widthDesktopSmall) {
    font-weight: $fontRegular;
    font-size: $fontTextMedium;
  }

  @media (min-width: $width4K) {
    font-size: 24px;
    line-height: 35px;
  }
}

.politics__cookie {
  margin-top: 100px;
}
