.qa-answer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 40px 15px 37px;

  @media (min-width: $widthTablet) {
    padding: 54px 98px 50px 35px;
  }

  @media (min-width: $widthDesktopSmall) {
    align-items: initial;
    height: 100%;
    padding: 45px 143px 52px 45px;
  }

  @media (min-width: $width4K) {
    .button {
      margin-top: 60px;
    }
  }
}

.qa-answer__title {
  position: relative;
  margin: 0;
  margin-bottom: 11px;
  padding-right: 20px;
  padding-left: 30px;
  font-weight: $fontMedium;
  font-size: $fontTextMedium;
  line-height: $lineHeightSubtitleRegular;
  color: $ColorSecondary;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 11px;
    height: 12px;
    background-color: $ColorSecondary;
    border-radius: 2px;
  }

  @media (min-width: $widthTablet) {
    margin-bottom: 40px;
    font-size: $fontTitleTiny;
    line-height: $lineHeightXLarge;
  }

  @media (min-width: $widthDesktopSmall) {
    padding-right: 0;
    margin-bottom: 32px;
    font-size: $fontTitleTiny;
    line-height: $lineHeightNormal;

    &::before {
      top: 9px;
    }
  }

  @media (min-width: $width4K) {
    padding-left: 40px;
    font-size: $fontTextRegular4K;
    line-height: $lineHeightRegular4K;

    &::before {
      width: 21px;
      height: 23px;
    }
  }
}

.qa-answer__text {
  margin: 0;
  margin-bottom: 40px;
  font-weight: $fontMedium;
  font-size: $fontTextRegular;
  line-height: $lineHeightHuge;

  @media (min-width: $widthTablet) {
    font-size: $fontTextLarge;
    line-height: $lineHeightHuge;
  }

  @media (min-width: $widthDesktopSmall) {
    margin-bottom: auto;
  }

  @media (min-width: $width4K) {
    font-size: $fontTextSmall4K;
    line-height: $lineHeightHalf;
  }
}
