.reviews {
  margin-top: 107px;
  margin-bottom: 80px;
}

.reviews__title {
  position: relative;
  margin: 0;
  margin-bottom: 31px;
  font-weight: $fontBold;
  font-size: $fontHeadersH2;
  line-height: 1.2;

  &::before {
    content: "";
    position: absolute;
    top: -16px;
    left: 0;
    width: 124px;
    height: 4px;
    background-color: $ColorSecondary;
  }
}

.reviews__list {
  display: grid;
  grid-template-rows: repeat(2, 312px);
  grid-template-columns: 285px 297px 302px 285px;
}

.reviews__card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 285px;
  min-height: 312px;
  background-color: $ColorPrimary;
  transition: transform 0.3s;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(31deg, $ColorSecondary200 16%, transparent 120%);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
  }

  &:nth-child(2n) {
    flex-direction: column-reverse;
  }

  &:nth-child(4n-2) {
    width: 297px;
  }

  &:nth-child(4n-1) {
    width: 302px;
  }

  &:hover,
  &:focus-within {
    z-index: 1;
    transform: scale(1.05);

    &::before {
      opacity: 1;
    }

    .reviews__card-title {
      color: $ColorPrimary;

      &::before {
        background-color: currentColor;
      }
    }

    .reviews__card-text,
    .reviews__card-link {
      color: $ColorPrimary;
    }
  }
}

.reviews__card-info {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  min-height: 156px;
  padding: 24px 13px 25px 15px;
}

.reviews__card-title {
  position: relative;
  margin: 0;
  margin-bottom: 8px;
  font-weight: $fontBold;
  font-size: $fontTextSmall;
  line-height: $lineHeightSmall;
  color: $ColorSecondary;
  text-transform: uppercase;
  transition: color 0.3s;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: $ColorPrimary100;
    border-radius: 1px;
  }
}

.reviews__card-text {
  margin: 0;
  font-weight: $fontMedium;
  font-size: $fontTextNav;
  line-height: $lineHeightSmall;
  color: $ColorPrimary100;
  transition: color 0.3s;
}

.reviews__card-link {
  position: absolute;
  bottom: 7px;
  left: 15px;
  font-weight: $fontMedium;
  font-size: $fontTextTiny;
  line-height: $fontTextMedium;
  color: $ColorSecondary;

  &:hover,
  &:focus {
    color: $ColorPrimary;
    outline: none;
  }
}

.reviews__card-image {
  img {
    display: block;
  }
}
