.services {
  margin-top: 30px;
  margin-bottom: 50px;

  @media (min-width: $widthTablet) {
    margin-top: 80px;
  }

  @media (max-width: $widthDesktopSmall - 1) {
    .slider-pagination {
      display: none;
    }
  }

  @media (min-width: $widthDesktopSmall) {
    margin-top: 120px;
    margin-bottom: 100px;

    .container {
      padding-top: 4px;
      padding-bottom: 4px;
    }

    @media (max-height: 719px) {
      .slider-pagination {
        display: none;
      }
    }
  }
}

.services__title {
  position: relative;
  margin: 0;
  margin-bottom: 15px;
  font-weight: $fontBold;
  font-size: $fontTextHuge;
  line-height: $lineHeightTitleRegular;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 87px;
    height: 2px;
    background-color: $ColorSecondary;
  }

  @media (min-width: $widthTablet) {
    margin-bottom: 30px;
    padding-top: 16px;
    font-size: $fontTitleRegular;

    &::before {
      width: 124px;
      height: 4px;
    }
  }

  @media (min-width: $widthDesktopSmall) {
    margin-bottom: 35px;
    line-height: $lineHeightNormal;

    &::before {
      width: 124px;
      height: 4px;
    }
  }

  @media (min-width: $width4K) {
    padding-top: 25px;
    margin-bottom: 80px;
    font-size: $fontTitleSmall4K;
    line-height: $lineHeightTitleRegular4K;

    &::before {
      width: 360px;
      height: 9px;
    }
  }
}

.services__wrapper {
  margin-bottom: 25px;

  @media (min-width: $widthTablet) {
    margin-bottom: 40px;
  }

  @media (min-width: $widthDesktopSmall) {
    margin-bottom: 0;
  }
}

.services__slider {
  height: 390px;

  @media (min-width: $widthTablet) {
    display: flex;
    height: 480px;
  }

  @media (min-width: $widthDesktopSmall) {
    height: 592px;
    margin-bottom: 30px;

    @media (max-height: 719px) {
      height: calc(100vh - 92px);
      margin-bottom: 0;
    }
  }

  @media (min-width: $widthFHD) {
    height: 760px;
  }

  @media (min-width: $width4K) {
    height: 1300px;
    margin-bottom: 0;
  }
}

.services__slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: auto;
  min-width: 290px;
  height: 90px;
  padding: 15px;
  padding-right: 53px;
  color: $ColorPrimary300;
  background: linear-gradient(57deg, $ColorPrimary400, currentColor 257%);
  border-radius: 6px;
  box-shadow: 0 10px 10px rgba($ColorPrimary300, 0.25);
  transition:
    color 0.3s,
    box-shadow 0.3s;

  &::before {
    content: "";
    position: absolute;
    top: 29px;
    right: 7px;
    width: 28px;
    height: 33px;
    background: url("../img/services_card-icon.svg") center / contain no-repeat;
    opacity: 0.3;
    transition:
      opacity 0.3s,
      filter 0.3s;
    filter: brightness(0) invert(1);
  }

  &:hover,
  &:focus {
    color: $ColorSecondary;
    background: linear-gradient(54deg, $ColorPrimary400, currentColor 133%);
    outline: none;
    box-shadow: 0 5px 10px rgba($ColorSecondary, 0.25);

    .services__slide-title {
      color: $ColorPrimary;
    }
  }

  @media (max-width: $widthTablet - 1) {
    &:nth-child(even) {
      &::before {
        opacity: 0.5;
        filter: none;
      }

      .services__slide-title {
        color: $ColorPrimary;
      }

      &:hover,
      &:focus {
        &::before {
          opacity: 0.3;
          filter: brightness(0) invert(1);
        }
      }
    }
  }

  @media (min-width: $widthTablet) {
    display: block;
    width: 330px;
    height: 220px;
    padding: 36px 55px 30px 20px;

    &::before {
      top: 36px;
      width: 32px;
      height: 37px;
    }

    @media (max-width: $widthDesktopSmall - 1) {
      &:nth-child(4n),
      &:nth-child(4n+1) {
        &::before {
          opacity: 0.5;
          filter: none;
        }

        .services__slide-title {
          color: $ColorSecondary;
        }

        &:hover,
        &:focus {
          &::before {
            opacity: 0.3;
            filter: brightness(0) invert(1);
          }

          .services__slide-title {
            color: $ColorPrimary;
          }
        }
      }
    }
  }

  @media (min-width: $widthDesktopSmall) {
    width: 370px;
    height: 281px;
    padding: 60px 55px 30px 30px;

    &::before {
      top: 54px;
      right: 20px;
      width: 38px;
      height: 41px;
    }

    @media (max-height: 684px) {
      height: calc((100vh - 92px - 30px) / 2);
    }
  }

  @media (min-width: $widthFHD) {
    width: 480px;
    height: 354px;
  }

  @media (min-width: $width4K) {
    height: 600px;
    padding: 60px;

    &::before {
      width: 70px;
      height: 100px;
    }
  }
}

.services__slide-title {
  margin: 0;
  font-weight: $fontBold;
  font-size: $fontTextRegular;
  line-height: $lineHeightSubtitleSmall;
  color: $ColorSecondary;
  text-transform: uppercase;
  transition: color 0.3s;

  @media (min-width: $widthTablet) {
    min-height: 38px;
    margin-bottom: 30px;
    font-size: $fontTextMedium;
    line-height: $lineHeightSubtitleRegular;
    color: $ColorPrimary;
  }

  @media (min-width: $widthDesktopSmall) {
    min-height: initial;
    margin-bottom: 45px;
    color: $ColorSecondary;
  }

  @media (min-width: $widthFHD) {
    width: 70%;
  }

  @media (min-width: $width4K) {
    font-size: $fontTextMedium4K;
    line-height: $lineHeightLarge2K;
  }
}

.services__slide-text {
  display: none;
  margin: 0;
  font-size: $fontTextRegular;
  color: $ColorPrimary;

  @media (min-width: $widthTablet) {
    display: block;
    line-height: $lineHeightMedium;
  }

  @media (min-width: $widthDesktopSmall) {
    line-height: $lineHeightRegular;
  }

  @media (min-width: $widthFHD) {
    font-size: $fontTextHuge;
    line-height: $lineHeightNormal;
  }

  @media (min-width: $width4K) {
    font-size: $fontTextMedium4K;
    line-height: $lineHeightLarge2K;
  }
}

.services__slider-control {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 1;
  display: none;
  justify-content: space-between;
  width: 170px;

  @media (min-width: $widthTablet) {
    display: flex;
  }

  @media (min-width: $widthDesktopSmall) {
    display: flex;
  }

  @media (min-width: $width4K) {
    width: 456px;
  }
}

.services__slider-button {
  width: 70px;
  height: 42px;
  padding: 0;
  background: url("../img/icon-arrow-white.svg") center / 40px no-repeat $fontColorLightGrey;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;

  &--left {
    transform: scaleX(-1);
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: $ColorSecondary;
  }

  @media (min-width: $width4K) {
    width: 188px;
    height: 113px;
    background-size: 109px;
  }
}

.services__link-all {
  box-sizing: border-box;
  display: block;
  max-width: 200px;
  padding: 14px 15px;
  font-weight: $fontSemiBold;
  font-size: $fontTextRegular;
  line-height: $lineHeightSubtitleSmall;
  text-align: center;
  color: $ColorSecondary;
  border: 1px solid currentColor;
  border-radius: 10px;
  transition: color 0.3s;
  filter: drop-shadow(0 10px 15px rgba($ColorSecondary, 0.3));

  &:hover,
  &:focus {
    color: $ColorPrimary300;
    outline: none;
  }

  @media (min-width: $widthTablet) {
    max-width: 210px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: $widthDesktopSmall) {
    display: none;
  }
}
