$fontBase: "Gilroy", "Arial", sans-serif;

$fontHeadersH1: 40px;
$fontHeadersH2: 28px;

$fontHeadersH3: 45px;
$fontHeadersH4: 36px;
$fontHeadersH5: 18px;
$fontHeadersH6: 16px;

$fontTextSmall: 14px;
$fontTextRegular: 16px;
$fontTextMedium: 18px;
$fontTextLarge: 20px;

$fontTextNav: 12px;
$fontTextNav_Footer: 14px;
$fontTextButton: 18px;

$lineHeightSmall: 18px;
$lineHeightRegular: 19px;
$lineHeightMedium: 20px;
$lineHeightLarge: 22px;

$fontRegular: 400;
$fontMedium: 500;
$fontBold: 700;
$fontExtraBold: 800;
$fontBlack: 900;

$fontColorHeaders: #444444;
$fontColorMaintext: #9e9d9d;
$fontColorWhite: #ffffff;
$fontColorGrey: #e5e5e5;
$fontColorDarkGrey: #707070;
$fontColorPink: #ff46a7;
