$fontBase: "Gilroy", "Arial", sans-serif;

$fontTextTiny: 10px;
$fontTextSmall: 12px;
$fontTextRegular: 14px;
$fontTextMedium: 16px;
$fontTextLarge: 18px;
$fontTextHuge: 20px;

$fontTextSmall2K: 15px;

$fontTextSmall4K: 30px;
$fontTextRegular4K: 35px;
$fontTextMedium4K: 38px;
$fontTextLarge4K: 44px;
$fontTextHuge4K: 52px;

$fontTitleTiny: 22px;
$fontTitleSmall: 24px;
$fontTitleRegular: 28px;
$fontTitleMedium: 32px;
$fontTitleLarge: 36px;
$fontTitleHuge: 40px;

$fontTitleSmall4K: 60px;
$fontTitleRegular4K: 64px;
$fontTitleMedium4K: 68px;
$fontTitleLarge4K: 95px;
$fontTitleHuge4K: 96px;

$fontTitle404: 195px;

$lineHeightNormal: 1.2;
$lineHeightDouble: 2;

$lineHeightTiny: 14px;
$lineHeightSmall: 16px;
$lineHeightRegular: 18px;
$lineHeightMedium: 21px;
$lineHeightLarge: 24px;
$lineHeightXLarge: 26px;
$lineHeightHuge: 30px;
$lineHeightXHuge: 32px;

$lineHeightSmall2K: 23px;
$lineHeightRegular2K: 28px;
$lineHeightLarge2K: 44px;

$lineHeightTiny4K: 36px;
$lineHeightSmall4K: 37px;
$lineHeightRegular4K: 38px;
$lineHeightMedium4K: 41px;
$lineHeightLarge4K: 68px;
$lineHeightXLarge4K: 70px;
$lineHeightHuge4K: 84px;

$lineHeightSubtitleSmall: 17px;
$lineHeightSubtitleRegular: 19px;
$lineHeightSubtitleLarge: 20px;

$lineHeightTitleTiny: 27px;
$lineHeightTitleSmall: 29px;
$lineHeightTitleRegular: 34px;
$lineHeightTitleMedium: 40px;
$lineHeightTitleLarge: 50px;
$lineHeightTitleHuge: 65px;

$lineHeightTitleSmall4K: 48px;
$lineHeightTitleRegular4K: 73px;
$lineHeightTitleMedium4K: 77px;
$lineHeightTitleLarge4K: 81px;
$lineHeightTitleXLarge4K: 115px;
$lineHeightTitleHuge4K: 125px;

$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;
$fontExtraBold: 800;
$fontBlack: 900;

$fontColorHeaders: #444444;
$fontColorMaintext: #9e9d9d;
$fontColorWhite: #ffffff;
$fontColorGrey: #e5e5e5;
$fontColorDarkGrey: #707070;
$fontColorLightGrey: #c4c4c4;
$fontColorPink: #ff46a7;

// Подключаем шрифт Gilroy
@include font-face("Gilroy", "Light", $fontLight);
@include font-face("Gilroy", "Regular");
@include font-face("Gilroy", "Medium", $fontMedium);
@include font-face("Gilroy", "SemiBold", $fontSemiBold);
@include font-face("Gilroy", "Bold", $fontBold);
@include font-face("Gilroy", "ExtraBold", $fontExtraBold);
@include font-face("Gilroy", "Black", $fontBlack);
